.about-services-main{
    padding-bottom: 5rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: relative;

    background-color: rgba(0, 0, 0, 0.863);

    min-height: fit-content;

    border-bottom: 3px solid white;
}

.about-services-h1{
    text-align: center;
    font-size: 42px;
    text-decoration: underline;
    color: white;
}

.about-services-content{
    display: flex;
    gap: 3.5rem;
    margin: 0 auto;
}

.about-services-card{
    padding: 0 2rem 2rem 2rem;

    position: relative;
    
    background-image: linear-gradient(black, grey, red);
    color: white;
    
    width: 25.5rem;
    height: 30em;

    border: 2px solid red;
    border-radius: 5px;
    box-shadow: 0px 5px 9px 5px rgba(0, 0, 0, 0.3);
}

.asc-h1{
    text-align: center;
    color: white;
    height: 4rem;
    font-size: 36px;
}

.about-services-divider{
    padding-top: 1rem;
    border-bottom: 2px dashed red;
}

.asc-p{
    font-size: 24px;
}

.about-services-button{
    padding: .5rem;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    
    color: red;

    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.about-services-button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: .5s;
}

@media only screen and (max-width : 425px){
    .about-services-main{
        width: 100vw;
    }

    
    .about-services-content{
        display: flex;
        gap: 3.5rem;
        margin: 0 auto;
        flex-direction: column;
    }
    
    .about-services-card{
        width: 85vw;
        height: 30em;
    }
    .about-services-h1{
    font-size: 36px;
    }
    .asc-h1{
    font-size: 32px;
    height: fit-content;
    }
    .asc-p{
    font-size: 22px;
    }
}
