.footer{
    background-color: black;
    color: white;
    height: 60px;
    border-top: 3px solid white;
    position: static;
    bottom: 0;
    width: 100%;
}

.footer > p{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width : 425px){
    .footer{
    background-color: black;
    color: white;
    height: 60px;
    border-top: 3px solid white;
    position: static;
    bottom: 0;
    width: 100vw;
}
    .footer > p{
    display: flex;
    justify-content: center;
}
}