.card {
    background-image: linear-gradient(black, grey, red);
    color: white;
    text-align: center;
    /* margin: .5rem 1.5rem; */
    padding: 2rem 4rem;
    width: fit-content;
    border: 2px solid red;
    border-radius: 5px;
    box-shadow: 0px 5px 9px 5px rgba(0, 0, 0, 0.3);
}

.card-text{
    font-size: 24px;
    width: 50rem;
    height: 7.5rem;
}

.card-divider{
    border-bottom: 2px dashed red;
}

.card-picture{
    display: flex;
    padding-bottom: 2rem;
}

.card-img1{
    border: 3px solid white;
    width: 100%;
    height: 600px;
    margin-top: 1rem;
    border-radius: 5px;
}

.card-bottom{
    display: flex;
    align-items: center;
    width: 20rem;
    margin: auto;
}

.card-selected{
    border: 2px solid black;
    padding: 1rem;
    color: red;
    background-color: white;
    width: 50%;
    border-radius: 5px 0 0 5px;
    font-size: 26px;
    transition: .5s;
    opacity: 60%;
}

.card-selected:hover{
    opacity: 100%;
    transition-duration: .5s;
    cursor: pointer;
}

.card-not-selected{
    width: 50%;
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 26px;
    border: 2px solid white;
    border-radius: 0 5px 5px 0;
    transition: .5s;
}

.service-content-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    gap: 3.5rem;
}

.service-content{
    background-color: rgba(0, 0, 0, 0.863);
    min-height: fit-content;
    padding: .5rem 0 3rem 0;
}

.service-content-h1{
    font-size: 42px;
    text-decoration: underline;
    color: white;
    text-align: center;
    padding-bottom: .5rem;
}

@media only screen and (max-width : 425px){
    .card {
        width: 100vw;
        height: fit-content;
        border: none;
        border-top: 2px solid red;
        border-radius: 0px;
        padding: 1rem 0;
    }

    .card-text{
        font-size: 22px;
        width: 100vw;
        height: fit-content;
        padding: 0 1.5rem;
    }

    .card-heading{
        padding: 0 1.5rem;
    }

    .card-img1{
        border: none;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }

    .service-content-h1{
        font-size: 36px;
    }
}